Das ist eine Demo

In [4]:
SELECT 'Hello from Notebook'

(No column name)
Hello from Notebook