In [2]:
USE m106
-- Record einfügen mit expliziter Angabe der Spalten
-- Achtung: Reihenfolge der Values muss stimmen
INSERT INTO verkauf.kunden (vorname, nachname) VALUES ('Hans', 'Meier');

-- Record einfügen ohne Angabe der Spalten
INSERT INTO verkauf.kunden VALUES ('Peter', 'Müller');

-- Record einfügen, bei dem der Default-Constraint greift
INSERT INTO verkauf.kunden (nachname) VALUES ('Matter');

-- Beispiel einer Fremdschlüsselverletzung
INSERT INTO verkauf.bestellungen (bestelldatum, kundenid) 
VALUES ('21.07.2023 10:34:05', 10)

-- Beispiel, bei dem der CHECK-Constraint verletzt wird 
INSERT INTO verkauf.produkte (produktname, energielabel) VALUES ('Elektrogrill', 'G');

: Msg 242, Level 16, State 3, Line 13
The conversion of a varchar data type to a datetime data type resulted in an out-of-range value.

: Msg 547, Level 16, State 0, Line 17
The INSERT statement conflicted with the CHECK constraint "CK__produkte__energi__48CFD27E". The conflict occurred in database "m106", table "verkauf.produkte", column 'energielabel'.

In [1]:
-- mehrere Records mit einem Statement in die Tabelle kunden einfügen
INSERT INTO verkauf.kunden (vorname, nachname) 
VALUES ('Bruno', 'Moser'), ('Heinz', 'Manser');

-- mehrere Records mit einem Statement in die Tabelle produkte einfügen
INSERT INTO verkauf.produkte VALUES 
('Zitronenpresse',4.9,'A'), 
('Gartenlounge',224,NULL), 
('Fahrradträger',334.5,NULL), 
('Weinkühlschrank',139,'C');

-- mehrere Bestellungen mit einem Statement erfassen
INSERT INTO verkauf.bestellungen (bestelldatum, kundenid) VALUES 
('2023-09-10 11:20:07', 1),
('2023-11-05 17:43:13', 2),
('2023-12-27 09:32:55', 3);

: Msg 208, Level 16, State 1, Line 2
Invalid object name 'verkauf.kunden'.