# Übungsaufgaben DML

Der folgende Block enthält Übungsaufgaben zu den Kapiteln INSERT, UPDATE, DELETE und CASCADE.

## INSERT

Führe diese Aufgaben aus, nachdem du den INSERT-Block bearbeitet hast.

**1.1** Erstelle eine neue Kundin in der Tabelle _verkauf.kunden_ mit folgenden Attributen:

- Vorname: Barbara
- Nachname: Traufer

In [4]:
USE m106
INSERT INTO verkauf.kunden (vorname, nachname) VALUES ('Barbara', 'Traufer')

**1.2** Füge drei neue Produkte in der dafür vorgesehenen Tabelle hinzu. Den Produktnamen, den Preis sowie das Energielabel kannst du jeweils selber bestimmen.

In [5]:
INSERT INTO verkauf.produkte VALUES 
('Zitronenpresse',4.9,'A'), 
('Gartenlounge',224,NULL), 
('Fahrradträger',334.5,NULL);

**1.3** Erstelle zwei neue Einträge in der Tabelle _verkauf.bestellungen_, welche zur oben neu erstellten Kundin gehören. Das Bestelldatum kannst du bei beiden Bestellungen frei wählen.

In [3]:
INSERT INTO verkauf.bestellungen (bestelldatum, kundenid) VALUES ('2024-12-24', 6)

## UPDATE

Führe diese Aufgaben aus, nachdem du den UPDATE-Block bearbeitet hast.

**2.1** Die Kundin mit der Kundenid 3 wünscht, dass ihr Vorname in den Stammdaten von _unbekannt_ auf _Maria_ geändert wird. Bitte nimm diese Änderung vor.

In [4]:
UPDATE verkauf.kunden SET vorname = 'Maria' WHERE kundenid = 3

**2.2** Du erhältst den Auftrag, den Namen des Produktes mit der Id 2 auf _Zitruspresse_ zu ändern und im selben Zug auch gleich den Preis um CHF 10 zu erhöhen.

In [5]:
UPDATE verkauf.produkte SET produktname = 'Zitruspresse', preis += 10 WHERE produktid=2;

## DELETE

Führe diese Aufgaben aus, nachdem du den DELETE-Block bearbeitet hast.

**3.1** Du wirst von deinem Vorgesetzten aufgefordert, alle Bestellungen des Kunden _Bruno Moser_ zu löschen. Nimm bitte diese Mutation vor.
**Wichtig**: Sei vorsichtig, dass nicht zu viele Daten gelöscht werden.

In [7]:
DELETE FROM verkauf.bestellungen WHERE kundenid = 4

**3.2** Angenommen, du wirst angewiesen die Kundin Barbara Traufer aus der Kunden-Tabelle zu löschen. Würde das Datenbanksystem diese Löschung zulassen? Was gibt es dabei zu beachten? Schreibe deine Überlegungen auf, ohne die Mutation vorzunehmen.

In [9]:
/*
nein weil es noch eine bestellung mit dem foreign key von barabara gibt
*/
SELECT * FROM verkauf.kunden

kundenid,vorname,nachname
1,Hans,Meier
2,Peter,Müller
3,Maria,Matter
4,Bruno,Moser
5,Heinz,Manser
6,Barbara,Traufer